#light {
  background-color: hotpink;
}

#speedInst {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  gap: 10px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  flex-direction: column;
}

h1 {
  margin: 0 0 5px 0;
}

nav {
  margin: 0 0 10px 0;
  text-align: center;
}

#Start {
  background-color: black;
  color: white;
}

.btn {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  background-color: grey;
}

.btn.red {
  background-color: red;
  border: 2px solid black;
  border-bottom: 6px solid black;
}
.btn.blue {
  background-color: blue;
  border: 2px solid black;
  border-bottom: 6px solid black;
}
.btn.green {
  background-color: green;
  border: 2px solid black;
  border-bottom: 6px solid black;
}
.btn.yellow {
  background-color: yellow;
  border: 2px solid black;
  border-bottom: 6px solid black;
}

#root.stopped .btn.red:hover, 
#root.stopped .btn.blue:hover,
#root.stopped .btn.green:hover,
#root.stopped .btn.yellow:hover{
  border: none;
}

.btn.red.displaySequence {
  box-shadow: 0 0 40px red;
}

.btn.blue.displaySequence {
  box-shadow: 0 0 40px blue;
}

.btn.green.displaySequence {
  box-shadow: 0 0 40px green;
}

.btn.yellow.displaySequence {
  box-shadow: 0 0 40px rgb(188, 188, 7);
}

#root {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 240px;
  gap: 10px;
  justify-content: center;
}
